@model cineAppNCapas.Models.ACCESOPREMIER

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ACCESOPREMIER</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PERSONA.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PERSONA.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PELICULA.clasificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PELICULA.clasificacion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idPremier }) |
    @Html.ActionLink("Back to List", "Index")
</p>
